vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Nov 2008 03:05:28 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|11 Nov 2008 03:05:28 -0000
vti_filesize:IR|5721
vti_cachedlinkinfo:VX|S|images/bg.gif S|images/admin-message.gif S|images/button.gif S|images/cap_green.gif S|images/cap_green.gif S|images/gradient.gif S|images/cap_blue.gif S|images/thead.gif S|images/bg.gif
vti_cachedsvcrellinks:VX|FSUS|themes/Default/images/bg.gif FSUS|themes/Default/images/admin-message.gif FSUS|themes/Default/images/button.gif FSUS|themes/Default/images/cap_green.gif FSUS|themes/Default/images/cap_green.gif NSUS|themes/Default/images/gradient.gif FSUS|themes/Default/images/cap_blue.gif FSUS|themes/Default/images/thead.gif FSUS|themes/Default/images/bg.gif
vti_backlinkinfo:VX|
